{% extends 'headfoot.html' %}

{% block content %}

<br><br><br><br><br>
{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
	<h2 align="center">Dashboard</h2>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-8">

    <strong>Name:</strong>
	{{ current_user.name }}<br/><br><br>

	<strong>Id:</strong>
	{{ current_user.id }}<br/><br><br>


	<strong>Email:</strong>
	{{ current_user.email }}<br><br><br>


    <a href="{{ url_for('logout')}}" class="btn btn-secondary btn-sm">Logout</a>
			<form method="POST" action="{{ url_for('delete_user') }}"><br><br>
    			<button type="submit" onclick="return confirm('Did You want to delete this account?')"
						class="btn btn-danger btn-sm">Delete Account</button>
			</form>
			<br><br>

		</div></div></div>

{% endblock %}

